:root{
    --info-body-padding: 15px;
}

.food-card{
    width: 400px;
    height: 600px;
    border-radius: 50px;
    position: relative;
    z-index: 50;
    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

}

.food-card:nth-child(odd){
    background-color: black;
}
.food-card:nth-child(odd):hover{
    transform: rotate(15deg);
}

.food-card:nth-child(even){
    margin-top: 70px;
    background-color: rgb(113, 113, 113);
}

.food-card:nth-child(even):hover{
    transform: rotate(-15deg);
}

.food-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 50px;
    background-color: white;
}

.food-card-info{
    border-radius: 50px;
    background-color: white;
    height: 230px;
    overflow: hidden;
}

.info-body{
    height: calc(96% - var(--info-body-padding) * 2);
    background-color: #fff;
    padding: var(--info-body-padding);
}
.info-footer{
    height: 4%;
    background-color: #eee;
}

.card-white-circle{
    position: absolute;
    width:20px;
    height:20px;
    border-radius:999em;
    background-color:white;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.googlemap-tag-img{
    position: absolute;
    top: -87px;
    left: 50%;
    transform: translateX(-50%);
}