:root {
	--container--width: 70vw;
	--welcome-text-size: 24px;
}
.container {
	margin-right: auto;
	margin-left: auto;
	width: var(--container--width);
}
.img-container {
	margin-top: 1vh;
	width: var(--container--width);
	height: 400px;
	overflow: hidden;
}
.img-wrap {
	position: relative;
	left: 0px;
	width: calc(var(--container--width) * 7);
	animation: animateImg ease-in-out 60s infinite normal;
}
.img-wrap img {
	display: block;
	float: left;
	width: var(--container--width);
	height: 400px;
}
@keyframes animateImg {
	0% {
		left: calc(var(--container--width) * 0);
	}
	15% {
		left: calc(var(--container--width) * 0);
	}
	17% {
		left: calc(var(--container--width) * -1);
	}
	32% {
		left: calc(var(--container--width) * -1);
	}
	34% {
		left: calc(var(--container--width) * -2);
	}
	49% {
		left: calc(var(--container--width) * -2);
	}
	51% {
		left: calc(var(--container--width) * -3);
	}
	66% {
		left: calc(var(--container--width) * -3);
	}
	68% {
		left: calc(var(--container--width) * -4);
	}
	83% {
		left: calc(var(--container--width) * -4);
	}
	85% {
		left: calc(var(--container--width) * -5);
	}
	98% {
		left: -calc(var(--container--width) * -5);
	}
	100% {
		left: calc(var(--container--width) * -6);
	}
}
.welcome {
	overflow: hidden;
	animation: textAnimation 7s ease-in-out;
	white-space: nowrap;
	font-size: var(--welcome-text-size);
	font-weight: bold;
}
@keyframes textAnimation {
	0% {
		width: calc(var(--welcome-text-size) * 1);
	}
	15.99% {
		width: calc(var(--welcome-text-size) * 1);
	}
	16% {
		width: calc(var(--welcome-text-size) * 2);
	}
	31.99% {
		width: calc(var(--welcome-text-size) * 2);
	}
	32% {
		width: calc(var(--welcome-text-size) * 3);
	}
	47.99% {
		width: calc(var(--welcome-text-size) * 3);
	}
	48% {
		width: calc(var(--welcome-text-size) * 4);
	}
	63.99% {
		width: calc(var(--welcome-text-size) * 4);
	}
	64% {
		width: calc(var(--welcome-text-size) * 5);
	}
	79.99% {
		width: calc(var(--welcome-text-size) * 5);
	}
	80% {
		width: calc(var(--welcome-text-size) * 6);
	}
	95.99% {
		width: calc(var(--welcome-text-size) * 6);
	}
	96% {
		width: calc(var(--welcome-text-size) * 7);
	}
	100% {
		width: calc(var(--welcome-text-size) * 7);
	}
}
