p{
	line-height: 24px;
}
.h-full {
	height: 100%;
}
.content {
	padding-top: 3vh;
	width: 100%;
	min-height: calc(100vh - 3vh - var(--footer-height));
}
.flex {
	display: flex;
}
.flex-center {
	display: flex;
	justify-content: center;
}
.flex-around {
	display: flex;
	justify-content: space-around;
}
.inline-flex-col {
	display: inline-flex;
	flex-direction: column;
}
.flex-col-around {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.flex-col-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
